@import '../../shared/scss/variables.scss';

.about-us {
  width: 100%;
  min-height: 100vh;
  @extend .white-text;

  // flex-wrap: wrap;
  // background-image: url('../../images/mockup3.png');
  // background-repeat: no-repeat;
  // background-size: 75%;
  // background-position: center 80%;
}

.about-us__heading {
  font-weight: bold;
  font-size: 100px;
}

.about-us__text {
  line-height: 40px;
  font-size: 40px;
  text-align: center;
  font-weight: 600;
  padding: 10vh 0;
}