.p-20 {
  padding: 20px;
}

/* .home-header {
  justify-content: flex-end;
  padding-top: 30px;
  margin-bottom: -15vh;
  padding-left: 80px;
  padding-right: 80px;
  color: #fff;
  background-image: linear-gradient( -25deg,#5ac7cc 20%, #113745 20%);
} */

.home-image {
  background-image: linear-gradient( 45deg, #5dced2 20%, #5ac7cc 20%, #113745 20%);
  /* background-image: linear-gradient(127deg, #384dff 0%, #24cdff 91%); */
  padding: 30px;
  box-shadow: 0px 10px 15px #5ac7cc;
  margin-bottom: 50px;
  
}

.home-image {
    position: relative;
}

.home-image img {
  width: 50%;
  margin-top: 56px;
}

.home-image-overlay-typewriter {
    position: absolute;
    top: 25%;
    left: 0%;
}

.home-image-overlay-typewriter h6 {
    color: #113745 !important;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #113745;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 10s steps(40, end), blink-caret .4s step-end infinite;
    animation-iteration-count: infinite;
  /* The typing effect */
}

@keyframes typing {
    from {
      width: 0
    }
    to {
      width: 22%
    }
  }
  /* The typewriter cursor effect */
  
  @keyframes blink-caret {
    from, to {
      border-color: transparent
    }
    50% {
      border-color: #113745;
    }
  }

  .home-hr hr{
    width: 10%;
    height: 3px;
    background: #DA22FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9733EE, #DA22FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9733EE, #DA22FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

  .our-services-text p {
    padding: 20px;
    text-align: center;
  }

  .our-offerings {
    background-image: url('../../images/our-capability-bg.png');
    padding: 40px;
  }

  .offerings-img-wrapper {
    justify-content: center;
    padding: 20px;
  }

  .offerings-img-wrapper img {
    height: 20px;
    
  }

  .border-left {
    border-left: 1px solid #e5e5e5;
  }

  .home-offerings-hr hr{
    width: 100%;
    height: 1px;
    background-color: #dee2e6;
  }

  .offerings-btn-margin {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .view-all-offerings button {
    padding: 15px 20px;
    background-color: #fff;
    outline: none;
    font-size: 18px;
    border: 2px solid #da403a;
    border-radius: 3px;
    color: #ec5b3d;
    transition: 1s;
  }

  .view-all-offerings button:hover {
    background-color: #ec5b3d;
    color: #fff;
    transition: 1s;
  }

  .view-less button {
    padding: 15px 25px;
    background-color: #ec5b3d;
    outline: none;
    font-size: 18px;
    border: 2px solid #ec5b3d;
    border-radius: 3px;
    color: #fff;
    transition: 1s;
  }

  .view-less button:hover {
    background-color: #fff;
    color: #ec5b3d;
    transition: 1s;
  }