.p-20 {
    padding: 20px;
}

/* .home-header {
  justify-content: flex-end;
  padding-top: 30px;
  margin-bottom: -15vh;
  padding-left: 80px;
  padding-right: 80px;
  color: #fff;
  background-image: linear-gradient( -25deg,#5ac7cc 20%, #113745 20%);
} */

// .home-image {
//     background-image: linear-gradient(45deg, #5dced2 20%, #5ac7cc 20%, #113745 20%);
//     /* background-image: linear-gradient(127deg, #384dff 0%, #24cdff 91%); */
//     padding: 30px;
//     box-shadow: 0px 10px 15px #5ac7cc;
//     margin-bottom: 50px;

// }

// .home-image {
//     position: relative;
// }

// .home-image img {
//     width: 50%;
//     margin-top: 56px;
// }

// .home-image-overlay-typewriter {
//     position: absolute;
//     top: 25%;
//     left: 0%;
// }

// .home-image-overlay-typewriter h6 {
//     color: #113745 !important;
//     overflow: hidden;
//     /* Ensures the content is not revealed until the animation */
//     border-right: .15em solid #113745;
//     /* The typwriter cursor */
//     white-space: nowrap;
//     /* Keeps the content on a single line */
//     margin: 0 auto;
//     /* Gives that scrolling effect as the typing happens */
//     letter-spacing: .15em;
//     /* Adjust as needed */
//     animation: typing 10s steps(40, end), blink-caret .4s step-end infinite;
//     animation-iteration-count: infinite;
//     /* The typing effect */
// }

// @keyframes typing {
//     from {
//         width: 0
//     }

//     to {
//         width: 22%
//     }
// }

// /* The typewriter cursor effect */

// @keyframes blink-caret {

//     from,
//     to {
//         border-color: transparent
//     }

//     50% {
//         border-color: #113745;
//     }
// }

.home-hr hr {
    margin: 20px 0 40px;
    width: 10%;
    height: 3px;
    background: #DA22FF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9733EE, #DA22FF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9733EE, #DA22FF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 2px;
}

.our-offerings {
    background-image: url('../../images/our-capability-bg.png');
    padding: 40px;
}

.offerings-img-wrapper {
    justify-content: center;
    padding: 20px;
}

.offerings-img-wrapper img {
    height: 20px;

}

.border-left {
    border-left: 1px solid #e5e5e5;
}

.home-offerings-hr hr {
    width: 100%;
    height: 1px;
    background-color: #dee2e6;
}

.offerings-btn-margin {
    margin-top: 20px;
    margin-bottom: 10px;
}

.view-all-offerings button {
    padding: 15px 20px;
    background-color: #fff;
    outline: none;
    font-size: 18px;
    border: 2px solid #da403a;
    border-radius: 3px;
    color: #ec5b3d;
    transition: 1s;
}

.view-all-offerings button:hover {
    background-color: #ec5b3d;
    color: #fff;
    transition: 1s;
}

.view-less button {
    padding: 15px 25px;
    background-color: #ec5b3d;
    outline: none;
    font-size: 18px;
    border: 2px solid #ec5b3d;
    border-radius: 3px;
    color: #fff;
    transition: 1s;
}

.view-less button:hover {
    background-color: #fff;
    color: #ec5b3d;
    transition: 1s;
}

.scroll-to-top {
    background: #fff;
    padding: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: fixed;
    bottom: -100px;
    right: 20px;
    z-index: 12;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 300ms;

    .material-icons-round {
        font-size: 35px;
    }

    &:hover {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    }

    &:active {
        box-shadow: none;
    }

    &.active {
        bottom: 0;
    }
}

// NEW CSS.
// TODO: REFACTOR EVERYTHING ABOVE THIS COMMENT

.home {
  // background-image: url('https://assets.website-files.com/5bfd1275cc56e15ce750b18e/5c289afb9a1575cb2f893a3b_15.%20Perfume.jpg');
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-attachment: fixed;

  // &.slide-1 {
  //   background-image: url('https://assets.website-files.com/5bfd1275cc56e15ce750b18e/5c289afb9a157570f2893a3f_17.%20Dark%20Salmon.jpg');
  // }
  // height: 100vh;
  // overflow: hidden scroll;
  // scroll-snap-type: both mandatory;
  // scroll-padding: 1rem;

  // & > div {
  //   scroll-snap-align: start;
  // }
}
