.fs-14 {
    font-size: 14px;
}

.contact-us-wrapper {
    justify-content: center;
}

.contact-us-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}

.contact-us-banner img{
    width: 100%;
}

.contact-us-banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(127deg, #113745 0%, #113745 91%);
    opacity: .6;
}
.overlay-text {
    position: absolute;
    z-index: 10;
    color: #fff;
    font-size: 60px;
}

.overlay-text-content {
    position: absolute;
    top: 60%;
    left: 26%;
    z-index: 10;
    color: #fff;
}

.contact-card-call {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 3px 4px 5px #efefef;
    margin-right: 5px;
    margin-bottom: 50px;
}

.contact-card-email {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 3px 4px 5px #efefef;
    margin-left: 5px;
    margin-bottom: 50px;
}

.email-us-btn {
    padding: 15px 25px;
    background-color: #ec5b3d;
    outline: none;
    font-size: 18px;
    border: 2px solid #ec5b3d;
    color: #fff;
    border-radius: 3px;
    transition: 1s;
  }

  .email-us-btn:hover {
    background-color: #fff;
    color: #ec5b3d;
    transition: 1s;
  }