.fs-14 {
    font-size: 14px;
}
.contact {
    width: 100%;
}
.contact-banner {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-image: url('../../images/two-white-message-balloons-1111368.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    // background-attachment: fixed;
    background-position: center;
}

// .contact-banner::after {
//     content: '';
//     position: absolute;
//     width: 100%;
//     height: 100vh;
//     left: 0;
//     opacity: 0.6;
//     background-image: linear-gradient(127deg, #e1e1e1 0%, #e1e1e1 91%);
//     z-index: 3;
// }

.contact-banner__text {
    color: #fff;
}

.contact-hr {
    background: #fff !important;
    float: right;
}

.contact-us-wrapper {
    justify-content: center;
}

// .contact-us-banner {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: relative;
//     z-index: 0;
// }
.overlay-text {
    position: absolute;
    z-index: 10;
    color: #fff;
    font-size: 60px;
}

.overlay-text-content {
    position: absolute;
    top: 60%;
    left: 26%;
    z-index: 10;
    color: #fff;
}

.contact-card {
    padding: 20px 20px 40px 20px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    margin-top: -100px;
    margin-bottom: 50px;
    border: 1px solid transparent;
    border-radius: 30px;
}
.email-us-btn {
    padding: 15px 25px;
    background-color: #ec5b3d;
    outline: none;
    font-size: 18px;
    border: 2px solid #ec5b3d;
    color: #fff;
    border-radius: 3px;
    transition: 1s;
  }

  .email-us-btn:hover {
    background-color: #fff;
    color: #ec5b3d;
    transition: 1s;
  }