.mb-20 {
    margin-bottom: 20vh;
}
.header-wrapper {
    padding: 15px;
    position: fixed;
    top: 35px;
    width: 100%;
    z-index: 12;
    cursor: pointer;
    justify-content: flex-end;
}

.header-bg {
    top: 0;
    background: rgba(27,40,53,.7);
    transition: 0.3s;
}

.header-Content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-Content h6 {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.header-Content h6:hover {
    color: #da403a;
    transition: 1s;
}

.contact-btn button{
    background-color: #fff;
    outline: none;
    border: 1px solid #da403a;
    padding: 10px 15px;
    color: #da403a;
    transition: 1s;
}

.contact-btn button:hover {
    background-color: #ec5b3d;
    color: #fff;
}

.contact-btn p {
    margin-bottom: 0px;
}

.text-shadow {
    text-shadow: 2px 2px 3px white;
}
