.navbar {
  // display: flex;
  // flex-wrap: wrap;
  // align-items: center;
  // justify-content: space-between;
  // z-index: 12;
  // width: 100%;
  // background: rgba(255, 255, 255, 0.8);
  transition: all 1000ms;

  &.header-bg {
    background: white;
    box-shadow: 0px 3px 5px rgba(0,0,0,.1);
  }

  .navbar-brand {
    font-size: 25px;
    font-weight: bold;
    
    .logo {
      display: inline-block;
      width: 45px;
      font-family: 'Marck Script';
      letter-spacing: 3px;
      background: #DA22FF;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to top, #9733EE, #9733EE, #DA22FF, #DA22FF);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to top, #9733EE, #9733EE, #DA22FF, #DA22FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .text {
      font-family: 'Nunito';
      background: #777;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to top, #333, #777, #777);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to top, #333, #777, #777); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}