.navbar {
  // display: flex;
  // flex-wrap: wrap;
  // align-items: center;
  // justify-content: space-between;
  // z-index: 12;
  // width: 100%;
  // background: rgba(255, 255, 255, 0.8);
  transition: all 1000ms;

  .navbar-brand {
    font-size: 25px;
    font-weight: 600;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    
    .logo {
      display: inline-block;
      width: 45px;
      font-family: 'Marck Script';
      letter-spacing: 3px;
      color: white;
    }

    .text {
      font-family: 'Nunito';
      color: white;
    }
  }

  .nav-link {
    color: white !important;
    font-weight: 600;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  }

  &.header-bg {
    background: white;
    box-shadow: 0px 3px 5px rgba(0,0,0,.1);

    .navbar-brand {
      .logo {
        background: #DA22FF;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #9733EE, #9733EE, #DA22FF, #DA22FF);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #9733EE, #9733EE, #DA22FF, #DA22FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .text {
        background: #777;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #333, #777, #777);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #333, #777, #777); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .nav-link {
      color: #141313a1 !important;
    }
  }
}