.carousel-item {
  height: 100vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

#slide1 {
  background-image: url('../../images/shallow-focus-photography-of-white-flowers-1369280.jpg');
}

#slide2 {
  background-image: url('../../images/beige-and-black-chair-in-front-of-white-desk-509922.jpg');
}

#slide3 {
  background-image: url('../../images/cakes-chocolate-close-up-cupcakes-959079.jpg');
}

#slide4 {
  background-image: url('../../images/top-view-photo-of-keyboard-near-earphone-1420709.jpg');
  background-position: top;
}

.slick-dots {
  bottom: 20px;

  li button:before {
    font-size: 16px;
  }
}
